.react-datepicker {
  font-family: inherit;
  border: none;
}

.react-datepicker__header {
  background-color: #fff;
  border-bottom: 1px solid #dee2e6;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range {
  background-color: #0d6efd;
  color: white;
}

.react-datepicker__day--keyboard-selected {
  background-color: #0d6efd;
  color: white;
}

.react-datepicker__day:hover {
  background-color: #e9ecef;
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover {
  background-color: #0b5ed7;
}
